@font-face {
    font-family: 'h5u';
    src: url("../fonts/h5u.eot");
    src: url("../fonts/h5u.eot?#iefix") format("embedded-opentype"), url("../fonts/h5u.woff") format("woff"), url("../fonts/h5u.ttf") format("truetype"), url("../fonts/h5u.svg#h5u") format("svg");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'h5u', 'Source Sans Pro', sans-serif;
    font-weight: 200;
    background: #eaeaea;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

h1 {
    background: #e7746f;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 4px;
}

h2 {
    color: rgb(103, 109, 121);
    letter-spacing: -1.5px;
    padding-top: 0;
    margin-top: 0;
}

h2 strong {
    font-weight: bold;
    color: rgb(103, 109, 121);
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: #999;
    width: 250px;
    font-size: 14px;
}

.block {
    margin: 0 20px;
    /*box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;*/
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    background: white;
    margin-bottom: 20px;
}

.block:hover {
    box-shadow: 0px 0px 17px 6px rgba(0, 0, 0, 0.08);
}

.block .img {
    float: right;
    border-left: 1px solid #eee;
}

.block .img1 {
    width: 420px;
    height: 491px;
    background: url('../images/demo1.png');
}

.block:hover .img1 {
    background: url('../images/demo1.gif');
}

.block-title {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    height: 25px;
    line-height: 25px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.block-body {
    overflow: hidden;
}

.jdate-target {
    /*margin: 20px;*/
    width: 714px;
    padding: 10px;
    border: 4px solid #ccc;
}

.jdate-code {
    float: left;
    width: 715px;
    overflow: hidden;
    padding: 10px;
}

pre {
    width: 700px;
    overflow: auto;
    padding: 50px 0;
    line-height: 1.6em;
    margin: 0;
}